body
{
    background-color: yellow;
    margin: 24px 24px;
}
h1
{
    color:black;
    font-family: Verdana,Geneva,sans-serif;
}
    
p
{
    color:black;
    font-family: Verdana,Geneva,sans-serif;
}
